      * {
        margin: 0px;
        font-family: Metropolis, -apple-system, BlinkMacSystemFont,
          "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji",
          "Segoe UI Emoji", "Segoe UI Symbol";
      }
      .inner_page_header {
        width: 100%;
        height: 100px;
        justify-content: space-around;
        margin-top:30px;
      }
      .header_section1 {
        width: 90%;
        /* height: 70%; */
        padding-bottom:1%;
        display: grid;
        margin: auto;
        text-align: center;
        align-items: center;
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: "a b b c c c c c c d e e";
        justify-content: space-around;
        box-sizing: border-box;
      }
      .logo_section {
        grid-area: a;
        /* border: 1px solid magenta; */
      }
      .location_section {
        grid-area: b;
        margin-left: 20px;
        width: 80%;
        padding: 5px 10px;
        border-radius: 5px;
        font-family: "Metropolis Light";
        font-style: normal;
        font-weight: 400;
        border: 1px solid gray;
        background-color: white;
      }
      #select_location {
        width: 90%;
        padding: 5px;
        margin: auto;
        border: none;
        outline: none;
      }
      .search_section {
        grid-area: c;
        width: 90%;
        padding: 5px 10px;
        margin-left: 20px;
        border: 1px solid gray;
        border-radius: 5px;
        background-color: #fff;
      }
      .fa-search {
        color: #ff645a;
      }
      .search_section > input {
        width: 95%;
        height: 25px;
        border: none;
        outline: none;
        font-size: 15px;
      }
      .search_button {
        grid-area: d;
        height: 36px;
        position: relative;
        right: 30px;
        border-radius: 5px;
      }
      .search_button > button {
        width: 100%;
        height: 100%;
        background-color: #ff645a;
        border-radius: 5px;
        border: none;
        outline: none;
        color: white;
        font-weight: 700;
        font-size: 17px;
      }
      .account_section {
        grid-area: e;
        display: flex;
        width: 80%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-weight: 700;
        color: gray;
      }
      .userlogo {
        width: 20%;
        height: 30px;
        border-radius: 50%;
        background-color: #ffebea;
        border: 1px solid #ff645a;
      }
      .userlogo > p {
        padding: 5px;
      }
      .header_section2 {
        width: 100%;
        height: 40%;
        box-shadow: 2px 2px 5px gray;
      }
      .list {
        display: flex;
        width: 40%;
        height: 100%;
        margin: auto;
        align-items: center;
        justify-content: space-around;
      }
      .horizontal_line {
        width: 100%;
        height: 1px;
        background-color: gray;
      }
      @media screen and (min-device-width: 374px) and (max-device-width: 776px)
      {
        .header_section1 {
          height:max-content;
          grid-template-columns: repeat(2, 1fr);
          row-gap:5px;
          grid-template-areas: "a b  "
                               "c c "
                               "d d"
                               "e e";
      }
      .list {
        display: flex;
        flex-wrap: wrap;
        width:50%
      }
      .header_section2{
        height:max-content;
        margin-top: 20px;
        justify-content:space-evenly
      }
      .search_button{
        margin-left: 20%;
      }
      .search_section>i{
        display: none;
      }
      .location_section>i{
        display: none;
      }
      .inner_page_header{
      margin-top: 20px
    }
    }